
.intro {
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgb(110, 77, 4);
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 3px dotted red;
    border-right: 3px dotted red;
    padding: 5px;
}

.Author {
    color: rgb(0, 255, 55);
}

#center {
    text-align: center;
    width: 50%;
    margin-left: 27%;
    margin-top: 5%;
}

#font50 {
    font-size: 20px;
}

#hide {
    empty-cells: hide;
}

.lightblue {
    background-color: lightblue;
}

.pink {
    background-color: pink;
}

.praet {
    background-color: rgb(132, 243, 160);
}

.lightMarjanda {
    background-color: rgb(219, 166, 255);
}

.lightgray {
    background-color: lightgray;
}

.white {
    background-color: white;
}

.orange {
    background-color: orange;
}

.Red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.noborder {
    border: none;
}

td {
    border: 1px solid;
}

